.section__foodie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
