* {
    /* background-color: #FAF9F6; */
    font-family: 'Inter', sans-serif;
}

main {
    margin: 1rem 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
}

nav {
    background-color: #F4BA26;
    height: 80px;
    display: flex;
    justify-content: center;
}

nav > h1 {
    color: #fff;
    font-size: 2rem;
    position: absolute;
	top: -5px;
}

#dount-p {
    text-align: right;
    margin-top: -60px;
    margin-top: -42px;
    margin-bottom: 0;
}

#dount {
    width: 50px;
}

#white-arrow-p {
    text-align: left;
    margin-left: 15px;
    margin-top: -57px;
    margin-bottom: 0;
}

#white-arrow {
    width: 20px;
}

.section__foodie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.step__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 65%;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 24px;
}

#step {
    overflow: auto;
}

.controls__wrapper {
    display: flex;
    position: absolute;
    bottom: 12%;
}

button {
    display: flex;
    align-items: center;
    background-color: #F4BA26;
    color: white;
    border-radius: 50px;
    border-style: none;
    margin: auto;
    padding: 8px 15px;
    font-size: 22px;
    font-weight: 700;
}

#prev > img {
    margin-right: 8px;
}

#next > img {
    margin-left: 8px;
}

.symbol {
    background-color: white;
    color: #F4BA26;
    border-radius: 200px;
    padding: 0.5px 7px;
    font-weight: 600;
}

#prev {
    margin-left: 30px;
    margin-right: 30px;
}

#next {
    margin-left: 30px;
    margin-right: 30px;
}

#step-num {
    font-style: italic;
    color: #F4BA26;
    font-size: 22px;
}

#step {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 8px;
}

.hidden {
    display:none;
}



.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F4BA26;
    height: 70px;
    margin-top: 10px;
}

.nav-dashboard {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}
.nav-search {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    

}
.nav-add {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}
.nav-settings {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}

.nav-dashboard #nav-dashboard-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-dashboard-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}

.nav-dashboard img {
    display: inline-block;
    height: 36px;
}
.nav-search #nav-search-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-search-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}
.nav-search img {
    display: inline-block;
    height: 36px;
}
.nav-add #nav-add-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-add-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}
.nav-add img {
    display: inline-block;
    height: 36px;
}
.nav-settings #nav-settings-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-settings-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}
.nav-settings img {
    display: inline-block;
    height: 36px;
}

button:hover {
    cursor: pointer;
}
