
* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}

/* =====     Universal Body Formatting     ===== */
body {
    margin: 0;
    padding: 0;
}

/* =====     Universal Title Navbar Formatting     ===== */
.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
}

nav {
	background-color: #F4BA26;
  height: 80px;
  display: flex;
  justify-content: center;
}

nav > h1 {
	color: #fff;
	font-size: 2rem;
	position: absolute;
	top: 20px;
  font-style: normal;
  font-weight: bold;
}

/* =====     RENDER THE DONUT!     ===== */
#dount-p {
    text-align: right;
    margin-top: -60px;
    margin-bottom: 0;
}

#dount {
    width: 50px;
}

/* =====     Universal Page Formatting     ===== */
main {
    margin: 1rem;
    margin-top: 100px;
}

.nav-bar {
    background-color: #F4BA26;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
}
  
.nav-section {
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
}

.nav-object {
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
}

.nav-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}

.nav-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
}