@import url(main.css);

#dount-p {
    text-align: right;
    margin-top: -42px;
    margin-bottom: 0;
}

.points-summary {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-top: 100px;
}

div {
    font-size: 22px;
    color: #F4BA26;
    font-weight: 700;
}

.points {
    font-size: 35px;
    font-weight: 800;
}

h2, #points {
    color: #F4BA26;
}

span {
    font-size: 18px;
}

#white-arrow-p {
    text-align: left;
    margin-left: 15px;
    margin-top: -57px;
    margin-bottom: 0;
}

#white-arrow {
    width: 20px;
}

#recipe-search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

section > div {
    width: 340px;
    margin: auto;
}

.recipe-cooking-time-and-serving {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.recipe-cooking-time, 
.recipe-cooking-serving {
    display: flex;
    border: 1px solid #F4BA26;
    padding: 8px 5px;
    border-radius: 8px;
}

#cooking-time,
#serving-size {
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    display: inline;
    line-height: 40%;
    margin-right: 8px;
}

#cooking-time-input,
#serving-size-input {
    color: black;
    font-size: 12px;
    font-weight: 400;
    display: inline;
    line-height: 40%;
}

h1 {
    padding-top: 10px;
    font-style: italic;
    font-size: 24px;
    font-weight: 300;
}

.specific-ingredients,
.specific-instructions {
    margin-left: 20px;
}

.specific-ingredients span,
.specific-instructions > li {
    color: black;
    font-size: 12px;
    font-weight: 400;
    margin: 8px 4px;
    vertical-align: middle;
}

.bottom-buttons {
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}

button:hover {
    cursor: pointer;
}

.bottom-buttons > p {
    padding: 20px 0 10px 0;
    color: #EAB52F;
    font-size: 12px;
    font-weight: 400;
}

.show-foodie-mode {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #ffc83a;
    border: none;
    padding: 6px;
    border-radius: 8px;
}

.save {
    font-size: 28px;
    color: #ffc83a;
    background-color: #FAF9F6;
    width: 340px;
    border: 1px solid #ffc83a;
    border-radius: 8px;
    padding: 4px;
}

.save > p {
    display: inline;
}

.hidden {
    display:none;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-horizontal {
    display: flex;
    gap: 10px;
}
