@import url("main.css");

.points-summary {
	text-align: center;
}

div {
	font-size: 22px;
	color: #f4ba26;
	font-weight: 700;
}

input {
	border-radius: 5px;
	padding: 10px;
	border: 3px solid #FFC83A;
	background: #f1f1f1;
	font-family: Inter;
	font-style: normal;
}

input:focus {
	outline: none;
}

.points {
	font-size: 35px;
	font-weight: 800;
}

h2,
#points {
	color: #f4ba26;
}

span {
	font-size: 18px;
}

#add-recipe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.flexbox {
	width: 340px;
	display: flex;
	margin: auto;
	position: relative;
	left: -20px;
}

.RecipeBox {
	display: flex;
	justify-content: center;
}

.radioClass {
	clear: none;
}

#cookingTime{
	width: 150px;
}

input.radio {
	width: auto;
	display: inline;
}

label {
	font-family: Inter;
	font-style: italic;
	font-size: 16px;
	font-weight: 400;
	line-height: 61.99%;
	/* identical to box height, or 10px */
	letter-spacing: -0.025em;
	padding: 10px;
	align-items: center;
	color: #000000;
}

.labelRadio {
	display: inline-block;
}

.labelRadio > img {
	position: relative;
	top: 5px;
}

input {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	line-height: 110%;
	/* or 20px */
	align-items: center;
	color: #000000;
	padding: 2px;
	margin: 5px;
}

#submit {
	background: #FFC83A;
	border-radius: 10px;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	padding: 10px;
	margin: 10px;
	margin-left: 8px;
	border: none;
	width: 99%;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 80px;
	cursor: pointer;
}

.container {
	display: block;
	position: relative;
	margin-bottom: 0;
	padding-left: 15px;
	/* cursor: pointer; */
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	margin-top: 4px;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 5px;
	left: -5px;
	height: 15px;
	width: 15px;
	background-color: #FFC83A;
}
  
.checkmark:after {
	content: "✓";
	position: absolute;
	display: none;
	margin-top: 3px;
}
  
.container input:checked ~ .checkmark:after {
	display: block;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #ffc83a;
}
 
.diet-restrictionBox{
	position: relative;
	display: block;
	margin-left: 5px;
	margin-right: auto;
	width: 100%;
	height: auto;
	border: 1.5px solid #ffc83a;
	
	border-radius: 6px;
}

.container {
	display: grid;
	grid-template-columns: 100px 120px 120px;
	
}


.word {
	grid-row: 1; 
	position: relative;
	font-family: Inter;
	font-style: italic; 
	font-size: 12px;
}

.left {
	grid-row: 1;    
}

.right {
	grid-row: 1;     
}

.bottom-boxes {
	margin-top: 10px;
	position: relative;
}

.ingredientList {
	border: 1.5px solid #ffc83a;
	box-sizing: border-box;
	border-radius: 6px;
	width: 100%;
	font-size: 16px;
	margin-left: 7px;
    
}

.ingredientButton {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 110%;
	border: none;
	margin: 10px;
	padding: 10px;
	display: flex;
	align-items: center;
	text-align: center;
	background: #FFC83A;
	border-radius: 6px;
	justify-content: center;
	color: #FAF9F6;
	align-items: center;
	cursor: pointer;
}

.instructionList {
	border: 1.5px solid #ffc83a;
	box-sizing: border-box;
	border-radius: 6px;
	width: 100%;
	font-size: 16px;
	margin-left: 7px;
}

.instructionButton {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 110%;
	border: none;
	margin: 10px;
	padding: 10px;
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
	background: #ffc83a;
	border-radius: 6px;
	align-items: center;
	display: flex;
	color: #faf9f6;
	cursor: pointer;
}

.input-list {
	margin-left: 35px;
}

.delete {
	position: relative;
	top: 3px;
	width: 18px;
}
