/* body {
    background-color: #FAF9F6;
} */

* {

  font-family: 'Inter', sans-serif;
}
nav {
    background-color: #F4BA26;
    padding: 20px;
}

#recipe-search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#dount-p {
    text-align: right;
    margin-top: -60px;
    margin-bottom: 0;
}

#dount {
    width: 50px;
}

.title{
    width:450px;
    height:50px;
    position: relative;
    background-color:#FFC83A ;
}

.Recipe-SearchPage > h2 span{

    background:#FFC83A;
    color:#fff;
    
    display:inline-block;
    /* padding:15px 25px; */
    padding-top: 10px;
    padding-left: 15px;
    margin-left:20px;
    font-family: Inter;
    font-style: normal;
    position: relative; left: 100px;
    justify-items: center;
}

#apply-filters{
    font-family: Inter;
    font-style: italic;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    justify-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
    color: #000000;
}
.diet-restrictionBox{
  position: relative;right:5.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:350px;
    height:110px;
    border:2px solid #FFC83A;
    background-color: white;
}

.Recipe-SearchPage .search-bar{
    box-sizing: border-box;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;right: 2px;
    width: 360px;
}
  
  /* Style the search field */

.search{
    display:flex
}

  form.search input[type=text] {
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    border: 3px solid #FFC83A;
    float: left;
    width: 350px;
    background: #f1f1f1;
    font-family: Inter;
    font-style: normal;
    border-right: none;
  }
  
  /* Style the submit button */
  form.search button {
    position:relative; right:5px;
    border-radius: 5px;
    float: left;
    width: 60px;
    padding: 10px;
    /* background: #2196F3; */
    color: #FFC83A;
    background: #f1f1f1;
    font-size: 17px;
    border: 3px solid #FFC83A;
    border-left: none; 
    cursor: pointer;
  }
  
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    margin-top: 4px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #FFC83A;
  }
  
  .checkmark:after {
    content: "✓";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: #FFC83A;
}
  
.container {
display: grid;
grid-template-columns: 100px 120px 120px;  
}

.word {
    grid-row: 1; 
    position: relative;
    font-family: Inter;
    font-style: italic; 
    font-size: 12px;
}
.left {
    grid-row: 1;    
}
.right {
    grid-row: 1;     
}

/* .section__search-recipes{
  position: relative;
  text-align: center;
} */

.recipes__wrapper{
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    max-width: 350px;
    row-gap: 20px;
    position: relative;
}

.search_page_content{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.section_search-recipes > div {
  width: 360px;
  margin: auto;
}
.section_search-recipes{
  margin:auto;
  width: auto;
  text-align: center;
}

.nav-bar {
    
  background-color: #F4BA26;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin-top: 10px;
}

.nav-dashboard {
  /* position: relative; */
  width: 25%;
  display: inline;
  float: left;
  height: 70px;
  text-align: center;
  
}
.nav-search {
  /* position: relative; */
  width: 25%;
  display: inline;
  float: left;
  height: 70px;
  text-align: center;
  

}
.nav-add {
  /* position: relative; */
  width: 25%;
  display: inline;
  float: left;
  height: 70px;
  text-align: center;
  
}
.nav-settings {
  /* position: relative; */
  width: 25%;
  display: inline;
  float: left;
  height: 70px;
  text-align: center;
  
}

.nav-dashboard #nav-dashboard-img {
  display: inline-block;
  height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 6px;
}
#nav-dashboard-text{
  display: block;
  height: 12px;
  text-align: center;
  margin: 0; 
  color: white;
  font-size: 12px;
  /* padding-top: 3px;
  padding-bottom: 6px; */
}

.nav-dashboard img {
  display: inline-block;
  height: 36px;
}
.nav-search #nav-search-img {
  display: inline-block;
  height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 6px;
}
#nav-search-text{
  display: block;
  height: 12px;
  text-align: center;
  margin: 0; 
  color: white;
  font-size: 12px;
  /* padding-top: 3px;
  padding-bottom: 6px; */
}
.nav-search img {
  display: inline-block;
  height: 36px;
}
.nav-add #nav-add-img {
  display: inline-block;
  height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 6px;
}
#nav-add-text{
  display: block;
  height: 12px;
  text-align: center;
  margin: 0; 
  color: white;
  font-size: 12px;
  /* padding-top: 3px;
  padding-bottom: 6px; */
}
.nav-add img {
  display: inline-block;
  height: 36px;
}
.nav-settings #nav-settings-img {
  display: inline-block;
  height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 6px;
}
#nav-settings-text{
  display: block;
  height: 12px;
  text-align: center;
  margin: 0; 
  color: white;
  font-size: 12px;
  /* padding-top: 3px;
  padding-bottom: 6px; */
}
.nav-settings img {
  display: inline-block;
  height: 36px;
}