#dount-p {
    text-align: right;
    margin-top: -60px;
    margin-bottom: 0;
    justify-content: right;
    right: 0px;
    margin-right: 0px;
    top: 2em;
    position: absolute;

}

#dount {
    width: 4vw;
}

nav {
    background-color: #F4BA26;
    padding: 22px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 61.99%;
    /* or 25px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    justify-content: center;
    border-radius: 15px;

    color: #FAF9F6;
}

.flexbox {
    margin-bottom: 70px;
}


.RecipeBox {
    display: flex;
    justify-content: center;

}

.radioClass {
    float: left;
    clear: none;
}

input.radio {
    width: auto;
    display:inline
}

#easy {
    padding: 5px;
    width:25px;
}
#medium {
    padding: 5px;
    width:25px;
}
#hard {
    padding: 5px;
    width:25px;
}
#veryHard {
    padding: 5px;
    width:25px;
}
label {
    font-family: Inter;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 61.99%;
    /* identical to box height, or 10px */

    letter-spacing: -0.025em;
    padding: 10px;
    margin: 10px;

    display: flex;
    align-items: center;

    color: #000000;
}
.labelRadio {
    display: inline-block;
}

input {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    /* or 20px */

    display: flex;
    align-items: center;

    color: #000000;
    padding: 2px;
    margin: 5px;
}

#submit {
    background: #FFC83A;
    border-radius: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    border: none;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    margin-top: 4px;
  }

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #FFC83A;
  }
  
  .checkmark:after {
    content: "✓";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: #FFC83A;
}
  
.diet-restrictionBox{
    position: relative;right:5.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    height:auto;
    border: 1.5px solid #FFC83A;
    
    border-radius: 6px;
  }
.container {
    display: grid;
    grid-template-columns: 100px 120px 120px;  
}
.word {
    grid-row: 1; 
    position: relative;
    font-family: Inter;
    font-style: italic; 
    font-size: 12px;
}
.left {
    grid-row: 1;    
}
.right {
    grid-row: 1;     
}

.ingredientList {
    border: 1.5px solid #FFC83A;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    
}

.ingredientButton {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    border: none;
    margin: 10px;
    padding: 10px;

    display: flex;
    align-items: center;
    text-align: center;
    background: #FFC83A;
    border-radius: 6px;
    justify-content: center;

    color: #FAF9F6;
    align-items: center;
}
.instructionList {
    border: 1.5px solid #FFC83A;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    
    
}

.instructionButton {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    border: none;
    margin: 10px;
    padding: 10px;
    justify-content: center;

    display: flex;
    align-items: center;
    text-align: center;
    background: #FFC83A;
    border-radius: 6px;
    align-items: center;
    display: flex;
  

    color: #FAF9F6;
}





.nav-bar {
    
    background-color: #F4BA26;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
    border-radius: 0px 0px 6px 6px;
}

.nav-dashboard {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}
.nav-search {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    

}
.nav-add {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}
.nav-settings {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}

.nav-dashboard #nav-dashboard-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-dashboard-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}

.nav-dashboard img {
    display: inline-block;
    height: 36px;
}
.nav-search #nav-search-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-search-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}
.nav-search img {
    display: inline-block;
    height: 36px;
}
.nav-add #nav-add-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-add-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}
.nav-add img {
    display: inline-block;
    height: 36px;
}
.nav-settings #nav-settings-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-settings-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}
.nav-settings img {
    display: inline-block;
    height: 36px;
}