* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}

#setting-text {
    font-size: 22px;
    color: #383200;
    font-weight: 700;
    margin-left: 15px;
}

nav {
	background-color: #F4BA26;
  height: 80px;
  display: flex;
  justify-content: center;
}

nav > h1 {
	color: #fff;
	font-size: 2rem;
	position: absolute;
	top: 20px;
}

#dount-p {
    text-align: right;
    margin-top: -60px;
    margin-bottom: 0;
}

#dount {
    width: 50px;
}

/* #setting-text{
    display: inline-block;
    text-align: left;
    width: 50%;
} */

/* #setting-arrow{
    height: 50%;
} */


.fontsize{
    display: flex;
    height: 50px;
    justify-content: space-between;

    /* margin-top: 10px; */
    color: rgb(77, 76, 24);
    background-color: #FAF9F6;
    /* border-top: 2px solid #ffc83a; */
    border-bottom: 2px solid #ffc83a;
    font-size: 20px;

}

.preference{
    display: flex;
    justify-content: space-between;
    height: 50px;

    margin-top: 10px;
    /* color: #ffc83a; */
    color: rgb(77, 76, 24);
    background-color: #FAF9F6;
    border-bottom: 2px solid #ffc83a;
    padding-top: 5px;
}

.version{
    display: flex;
    justify-content: space-between;
    height: 50px;

    margin-top: 10px;
    /* color: #ffc83a; */
    color: rgb(77, 76, 24);
    background-color: #FAF9F6;
    border-bottom: 2px solid #ffc83a;
    padding-top: 5px;
}

.logout{
    display: flex;
    justify-content: space-between;
    height: 50px;

    margin-top: 10px;
    /* color: #ffc83a; */
    color: rgb(77, 76, 24);
    background-color: #FAF9F6;
    border-bottom: 2px solid #ffc83a;
    padding-top: 5px;
}


.settings-body{
    margin-bottom: 320px;
}


.nav-bar {
    background-color: #F4BA26;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 100px;
    
}

.nav-dashboard {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}
.nav-search {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    

}
.nav-add {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}
.nav-settings {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}

.nav-dashboard #nav-dashboard-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-dashboard-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}

.nav-dashboard img {
    display: inline-block;
    height: 36px;
}
.nav-search #nav-search-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-search-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}
.nav-search img {
    display: inline-block;
    height: 36px;
}
.nav-add #nav-add-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-add-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}
.nav-add img {
    display: inline-block;
    height: 36px;
}
.nav-settings #nav-settings-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-settings-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}
.nav-settings img {
    display: inline-block;
    height: 36px;
}
