




* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}

.header-bar {
    background-color: #F4BA26;
    padding: 20px;
    text-align: center;
}

#dount-p {
    text-align: right;
    margin-top: -60px;
    margin-bottom: 0;
}

#dount {
    width: 50px;
}

.version-text{
    margin-top: 250px;
    text-align: center;
}

#blk-logo{
    width: 200px;
    margin: auto;
}

#v-text{
    margin: auto;
    font-size: 16px;
}
  
.nav-bar {
    background-color: #F4BA26;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
    
}

.nav-dashboard {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}
.nav-search {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    

}
.nav-add {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}
.nav-settings {
    /* position: relative; */
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}

.nav-dashboard #nav-dashboard-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-dashboard-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}

.nav-dashboard img {
    display: inline-block;
    height: 36px;
}
.nav-search #nav-search-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-search-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}
.nav-search img {
    display: inline-block;
    height: 36px;
}
.nav-add #nav-add-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-add-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}
.nav-add img {
    display: inline-block;
    height: 36px;
}
.nav-settings #nav-settings-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-settings-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
    /* padding-top: 3px;
    padding-bottom: 6px; */
}
.nav-settings img {
    display: inline-block;
    height: 36px;
}