@import url(main.css);

.version-text{
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#blk-logo{
    width: 200px;
    margin: auto;
}

#v-text{
    margin: auto;
    font-size: 16px;
}
